body {
    font-family: Arial;
    font-size: x-large;
    margin: 50px;
    color:midnightblue
}

#middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#progress {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color:darkgreen
}