body {
    font-family: Arial;
    margin: 50px;
}

input {
    border: 1px solid #000000;
    padding: 2px; 
}

button {
    text-transform: uppercase;
}

#warning {
    font-size: large;
    color:darkred;
    visibility: hidden;
}

#middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#progress {
    width: 100%;
}

#message {
    width: 100%;
    font-size: large;
}

#assembly {
    width: 450px;
}


#loaded {
    width: 100%;
    font-size: large;
}

#progressArea {
    font-family: monospace;
    font-size:larger;
    border: 1px;
    border-style: groove;
    border-color: lightslategray;
    padding:  10px;
}