body {
    font-family: Arial;
    font-size: smaller;
    height: 100vh; /* This is needed to overcome a Chrome bug. */
    margin: 0; /* This is used to reset any browser-default margins */
    width: 100vw; /* As above. */
}

#right {
    float: left;
    height: 100vh;
    width: 25vw;
    overflow: hidden; 
}

#toolbar {
    float: left;    
}

#typetree {
    float:left;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

#viewport {
    float: left;
    height: 100vh;
    width: 75vw;
}

.node {
    stroke: #fff;
    stroke-opacity: .75;
    stroke-width: 2px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.hint {
    background: #ffff00;
    color: blue;
    font: 10px sans-serif;
    font-weight: bolder;
    pointer-events: none;
}